Checks: >
  -*,
  clang-analyzer-*,
  modernize-*,
  readability-*,
  performance-*,
  bugprone-*,
  cppcoreguidelines-*

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle:  file
CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
