---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest

ColumnLimit: 112
LineEnding: LF

IndentWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
BracedInitializerIndentWidth: 4
TabWidth: 4
UseTab: Never

NamespaceIndentation: All
CompactNamespaces: false
FixNamespaceComments: false
WrapNamespaceBodyWithEmptyLines: Always

AccessModifierOffset: -4
IndentAccessModifiers: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always

IndentCaseLabels: true
IndentCaseBlocks: false
IndentPPDirectives: BeforeHash
PPIndentWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

AllowShortBlocksOnASingleLine: Never
#AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
#AllowShortFunctionsOnASingleLine: None
#AllowShortFunctionsOnASingleLine: All
AllowShortFunctionsOnASingleLine: Empty
#AllowShortIfStatementsOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AllowShortNamespacesOnASingleLine: false

AlignAfterOpenBracket: true
BreakAfterOpenBracketBracedList: false
BreakAfterOpenBracketFunction: false
BreakAfterOpenBracketIf: false
BreakAfterOpenBracketLoop: false
BreakAfterOpenBracketSwitch: false
BreakBeforeCloseBracketBracedList: false
BreakBeforeCloseBracketFunction: false
BreakBeforeCloseBracketIf: false
BreakBeforeCloseBracketLoop: false
BreakBeforeCloseBracketSwitch: false

BinPackParameters: OnePerLine
AllowAllParametersOfDeclarationOnNextLine: false
BreakFunctionDefinitionParameters: false
PenaltyBreakOpenParenthesis: 1000

BinPackArguments: true
AllowAllArgumentsOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 1000

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignFunctionDeclarations: true
  AlignFunctionPointers: true
#AlignConsecutiveDeclarations:
#  Enabled: true
#  AcrossEmptyLines: false
#  AcrossComments: false
#  AlignFunctionDeclarations: true
#  AlignFunctionPointers: true
#AlignConsecutiveDeclarations: None

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: false
#AlignConsecutiveAssignments: None

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignEscapedNewlines: Right
AlignOperands: Align
AlignTrailingComments:
  Kind: Leave
  OverEmptyLines: 0

BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true

BreakAfterReturnType: Automatic
IndentWrappedFunctionNames: false
PenaltyReturnTypeOnItsOwnLine: 1000

BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: true

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Leave
SpaceAroundPointerQualifiers: Default

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceAfterOperatorKeyword: false
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: FunctionCall

KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: true
  AtStartOfFile: false
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always

SortIncludes:
  Enabled: false
IncludeBlocks: Preserve
SortUsingDeclarations: Never

ReflowComments: Never
BreakStringLiterals: false
InsertBraces: true
RemoveBracesLLVM: false

BreakTemplateDeclarations: Yes
...
